In [1]:
import pandas as pd
import datetime
import sys
sys.path.append('/Users/baobach/Algo-Trading-Binance')
import asyncio
import pandas_ta as ta

# Import custom libs
from binance.client import Client
from binance import AsyncClient, BinanceSocketManager
from src.config import settings
from sqlalchemy import create_engine

In [3]:
import websockets
import json

In [4]:
symbol = 'BTCUSDT'
stream = websockets.connect(f'wss://stream.binance.com:9443/ws/{symbol.lower()}@trade')

In [ ]:
async with stream as receiver:
    data = await receiver.recv()
    data = json.loads(data)
    print(data)

In [6]:
from pathlib import Path
db_path = Path('/Users/baobach/Algo-Trading-Binance/data/raw/BTCUSDT_stream.db')
if db_path.parent.exists():
    engine = create_engine(f'sqlite:///{db_path}')
    pd.read_sql(symbol, engine)
else:
    print("Directory does not exist.")

In [8]:
engine = create_engine(f'sqlite:///{db_path}')
pd.read_sql(symbol, engine, index_col='Time')

                            Price      Volume
Time
2024-02-29 02:54:02.246  61648.44  0.03158000
2024-02-29 02:54:08.302  61653.01  0.03669000
2024-02-29 02:54:10.994  61666.13  0.05755000
2024-02-29 02:54:13.242  61670.98  0.08302000
2024-02-29 02:54:16.243  61670.98  0.10382000
...                           ...         ...
2024-02-29 03:01:32.841  61511.10  0.08760000
2024-02-29 03:01:35.934  61514.25  0.10810000
2024-02-29 03:01:38.273  61514.88  0.11550000
2024-02-29 03:01:40.905  61515.24  0.12062000
2024-02-29 03:01:44.408  61518.24  0.14070000

[145 rows x 2 columns]